:root {
    --BEST-green: rgb(105, 205, 40);
    --BEST-blue: rgb(25, 115, 190);
    --BEST-orange: rgb(250, 165, 25);
    
    --site-green: rgb(121, 185, 46);
    --site-blue: rgb(0, 113, 185);
    --site-orange: rgb(250, 169, 37);
    --site-yellow: rgb(255, 188, 0);
    --site-white: rgb(255,255,255);
    --site-light-gray: rgb(245, 245, 245);
    --site-gray: rgb(102, 102, 102);
    --site-dark-gray: rgb(36, 39, 43);
    --site-black: rgb(0,0,0);
    --site-error-color: rgb(255, 0, 212);
}



.text-blue {
    color: var(--site-blue);
}
.text-orange {
    color: var(--site-orange);
}
.text-yellow {
    color: var(--site-yellow);
}
.text-green {
    color: var(--site-green);
}
.text-white {
    color: var(--site-white);
}
.text-light-gray {
    color: var(--site-light-gray);
}
.text-gray {
    color: var(--site-gray);
}
.text-dark-gray {
    color: var(--site-dark-gray);
}
.text-black {
    color: var(--site-black);
}



.sec-blue {
    color: var(--site-white);
    background-color: var(--site-blue);
    mix-blend-mode: multiply;
}
.sec-blue a {
    color: var(--site-orange);
}
.sec-orange {
    color: var(--site-white);
    background-color: var(--site-orange);
}
.sec-yellow {
    color: var(--site-white);
    background-color: var(--site-yellow);
}
.sec-green {
    color: var(--site-white);
    background-color: var(--site-green);
}
.sec-white {
    color: var(--site-gray);
    background-color: var(--site-white);
}
.sec-white h1 {
    color: var(--site-black);
}
.sec-light-gray {
    color: var(--site-gray);
    background-color: var(--site-light-gray);
}
.sec-gray {
    color: var(--site-white);
    background-color: var(--site-gray);
}
.sec-dark-gray {
    color: var(--site-white);
    background-color: var(--site-dark-gray);
}
.sec-black {
    color: var(--site-white);
    background-color: var(--site-black);
}
.sec-img {
    background: center top;
    background-size: cover;
}



.overlay-blue {
    background-color: color-mix(in srgb,var(--site-blue),#0000 40%);
}
.overlay-orange {
    background-color: color-mix(in srgb,var(--site-orange),#0000 40%);
}
.overlay-yellow {
    background-color: color-mix(in srgb,var(--site-yellow),#0000 40%);
}
.overlay-green {
    background-color: color-mix(in srgb,var(--site-green),#0000 40%);
}
.overlay-white {
    background-color: color-mix(in srgb,var(--site-white),#0000 40%);
}
.overlay-light-gray {
    background-color: color-mix(in srgb,var(--site-light-gray),#0000 40%);
}
.overlay-gray {
    background-color: color-mix(in srgb,var(--site-gray),#0000 40%);
}
.overlay-dark-gray {
    background-color: color-mix(in srgb,var(--site-dark-gray),#0000 40%);
}
.overlay-black {
    background-color: color-mix(in srgb,var(--site-black),#0000 40%);
}



a.btn-blue {
    color: var(--site-white);
    background-color: var(--site-blue);
}
a.btn-orange {
    color: var(--site-white);
    background-color: var(--site-orange);
}
a.btn-yellow {
    color: var(--site-white);
    background-color: var(--site-yellow);
}
a.btn-green {
    color: var(--site-white);
    background-color: var(--site-green);
}
a.btn-white {
    color: var(--site-black);
    background-color: var(--site-white);
}
a.btn-light-gray {
    color: var(--site-black);
    background-color: var(--site-light-gray);
}
a.btn-gray {
    color: var(--site-white);
    background-color: var(--site-gray);
}
a.btn-dark-gray {
    color: var(--site-white);
    background-color: var(--site-dark-gray);
}
a.btn-black {
    color: var(--site-white);
    background-color: var(--site-black);
}
button,
a.btn {
    font-size: 14px;
    font-weight: 500;
    border-radius: 2px;
    padding: 12px 25px;
    margin: 7px;
    border: none;
    text-transform: uppercase;
    filter: brightness(108%);
}
a.btn-blue:hover,
a.btn-orange:hover,
a.btn-yellow:hover,
a.btn-green:hover,
a.btn-gray:hover,
a.btn-dark-gray:hover,
a.btn-black {
    color: var(--site-white);
}
a.btn-white:hover,
a.btn-light-gray:hover {
    color: var(--site-black);
}
button:hover,
a.btn:hover {
    filter: brightness(95%);
}



.style-blue h1 b,
.style-blue h1 strong,
.style-blue li:before {
    color: var(--site-blue);

}
.style-blue .section-end {
    background-color: var(--site-blue);
}
.style-orange h1 b,
.style-orange h1 strong,
.style-orange li:before {
    color: var(--site-orange);

}
.style-orange .section-end {
    background-color: var(--site-orange);
}
.style-yellow h1 b,
.style-yellow h1 strong,
.style-yellow li:before {
    color: var(--site-yellow);

}
.style-yellow .section-end {
    background-color: var(--site-yellow);
}
.style-green h1 b,
.style-green h1 strong,
.style-green li:before {
    color: var(--site-green);

}
.style-green .section-end {
    background-color: var(--site-green);
}
.style-dark-gray h1 b,
.style-dark-gray h1 strong,
.style-dark-gray li:before {
    color: var(--site-dark-gray);

}
.style-dark-gray .section-end {
    background-color: var(--site-dark-gray);
}



.hero {
    color: var(--site-white);
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}
.hero h1 {
    color: var(--site-white);
    margin-top: 200px;
    font-weight: 100;
}
.hero h1 b,
.hero h1 strong {
    color: var(--site-white);
    font-weight: 500 !important;
}
.hero p {
    margin: 28px auto 188px auto;
    max-width: 570px;
}
.hero p b,
.hero p strong {
    font-weight: 300 !important;
}
@media only screen and (max-width: 768px) {
    section.hero h1 {
        margin-top: 100px;
    }
    section.hero p {
        margin-bottom: 100px;
    }
}



section.section-odd {
    background-color: var(--site-light-gray);
}



section.section-end {
    background-color: var(--site-error-color); /* The section ends should always be part of a style */
    color: var(--site-white);
    padding: 14px;
    width:100%;
    margin-top:auto;
}
section.section-end span {
    font-size: 12px;
    display: block;
    margin: auto;
    text-align: center;
}



.copy-content-on-click {
    cursor:pointer;
}
