@charset "UTF-8";

@import url("//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.carousel.css");
@import url("//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.theme.default.css");

body {
    font-size: 160%;
    line-height: 1.5;
}

section.hero {
    background-color: #000066;
    color: white;
    text-align: center;
    background: center top;
    background-size: cover;
    padding-top: 0px;
    padding-bottom: 0px;
}

section.hero h1 {
    color: white;
    margin-top: 200px;
    font-weight: 100;
}

section.hero h1 b,
section.hero h1 strong {
    color: white;
    font-weight: 500 !important;
}

section.hero p {
    margin: 28px auto 188px auto;
    max-width: 570px;
}

section.hero p b,
section.hero p strong {
    font-weight: 300 !important;
}


section.hero.hero-about {
    --overlay-color: rgba(0, 113, 185, 0.6);
    background-image: linear-gradient(var(--overlay-color),var(--overlay-color)), url("/static/media/about/lbg_jackets.jpg");
}
section.hero-about~section h1 b,
section.hero-about~section h1 strong {
    color: #0071b9;
}
section.hero-about~section~.section-end {
    background-color: #0071b9;
}
section.hero-about~section li:before {
    color: #0071b9;
}


section.hero.hero-sc {
    --overlay-color: rgba(0, 113, 185, 0.6);
    background-image: linear-gradient(var(--overlay-color),var(--overlay-color)), url("/static/media/sc/ghent.jpg");
}
section.hero-sc~section h1 b,
section.hero-sc~section h1 strong {
    color: #0071b9;
}
section.hero-sc~section~.section-end {
    background-color: #0071b9;
}
section.hero-sc~section li:before {
    color: #0071b9;
}


section.hero.hero-courses {
    --overlay-color: rgba(251, 186, 80, 0.6);
    background-image: linear-gradient(var(--overlay-color),var(--overlay-color)), url("/static/media/courses/courses.jpg");
}
section.hero-courses~section h1 b,
section.hero-courses~section h1 strong {
    color: #fbba50;
}
section.hero-courses~section~.section-end {
    background-color: #fbba50;
}
section.hero-courses~section li:before {
    color: #fbba50;
}


section.hero.hero-ebecmiddelbaar {
    --overlay-color: rgba(145, 199, 55, 0.6);
    background-image: linear-gradient(var(--overlay-color),var(--overlay-color)), url("/static/media/ebec/ebecmiddelbaar.jpg");
}
section.hero-ebecmiddelbaar~section h1 b,
section.hero-ebecmiddelbaar~section h1 strong {
    color: #91c737;
}
section.hero-ebecmiddelbaar~section~.section-end {
    background-color: #91c737;
}
section.hero-ebecmiddelbaar~section li:before {
    color: #91c737;
}


section.hero.hero-ebecuniversity {
    --overlay-color: rgba(145, 199, 55, 0.6);
    background-image: linear-gradient(var(--overlay-color),var(--overlay-color)), url("/static/media/ebec/ebecuniversity.jpg");
}
section.hero-ebecuniversity~section h1 b,
section.hero-ebecuniversity~section h1 strong {
    color: #91c737;
}
section.hero-ebecuniversity~section~.section-end {
    background-color: #91c737;
}
section.hero-ebecuniversity~section li:before {
    color: #91c737;
}


section.hero.hero-sustainabilityworkshops .overlay {
    background-color: rgba(115, 160, 45, 0.6);
}
section.hero-sustainabilityworkshops~section h1 b,
section.hero-sustainabilityworkshops~section h1 strong {
    color: #91c737;
}
section.hero-sustainabilityworkshops~section~.section-end {
    background-color: #91c737;
}
section.hero-sustainabilityworkshops~section li:before {
    color: #91c737;
}


section.hero.hero-training {
    --overlay-color: rgba(251, 186, 80, 0.6);
    background-image: linear-gradient(var(--overlay-color),var(--overlay-color)), url("/static/media/training/training.jpg");
}
section.hero-training~section h1 b,
section.hero-training~section h1 strong {
    color: #fbba50;
}
section.hero-training~section~.section-end {
    background-color: #fbba50;
}
section.hero-training~section li:before {
    color: #fbba50;
}


section.hero.hero-partners {
    --overlay-color: rgba(37, 40, 41, 0.6);
    background-image: linear-gradient(var(--overlay-color),var(--overlay-color)), url("/static/media/partners/partners_1.jpg");
}
section.hero-partners~section h1 b,
section.hero-partners~section h1 strong {
    color: #252829;
}
section.hero-partners~section~.section-end {
    background-color: #252829;
}
section.hero-partners~section li:before {
    color: #252829;
}


section.hero.hero-calendar {
    --overlay-color: rgba(255, 186, 80, 0.7);
    background-image: linear-gradient(var(--overlay-color),var(--overlay-color)), url("/static/media/about/lbg_jackets.jpg");
}


@media only screen and (max-width: 768px) {
    section.hero h1 {
        margin-top: 100px;
    }
    section.hero p {
        margin-bottom: 100px;
    }
}

section {
    color: #666666;
    font-weight: 300;
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

section h1 {
    color: black;
    font-weight: 100;
    margin-bottom: 45px;
}

section h1 b,
section h1 strong {
    font-weight: 500 !important;
}

section button,
section a.btn {
    margin-top: 35px;
}

section.section-odd {
    background-color: #F5F5F5;
}

section.section-end {
    background-color: slategrey;
    color: white;
    padding: 14px;
}

section.section-end span {
    font-size: 12px;
    display: block;
    margin: auto;
    text-align: center;
}

section p {
    margin-bottom: 24px;
}

section ul {
    padding-left: 0px;
}

section ul {
    list-style: none;
    padding: 0;
}

section li:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 10px;
}

@media only screen and (max-width: 768px) {
    section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

#fullpage h1 {
    font-weight: 100;
    padding-bottom: 20px;
}

#fullpage p {
    font-weight: 300;
    padding-bottom: 51px;
    max-width: 570px;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    #fullpage p {
        padding-bottom: 10px;
    }
    #fullpage .img-logo {
        width: 70%;
        height: auto;
    }
}

#section-home {
    background-image: url("/static/media/home/home.jpg");
    background-size: cover;
}

:focus {
    outline: none !important;
}

body {
    font-family: "Lato", sans-serif !important;
}

#error {
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspect ratio */
    min-width: 100%;
    min-height: 100%;
}
