@charset "UTF-8";

@import url("//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.carousel.css");
@import url("//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.theme.default.css");

body {
    font-size: 160%;
    line-height: 1.5;
    font-family: "Lato", sans-serif !important;
}

section {
    color: var(--site-gray);
    font-weight: 300;
    background-color: var(--site-white);
    padding-top: 100px;
    padding-bottom: 100px;
}
section h1 {
    color: var(--site-black);
    font-weight: 100;
    margin-bottom: 45px;
}
section h1 b,
section h1 strong {
    font-weight: 500 !important;
}
section ul {
    padding-left: 0px;
    list-style: none;
    padding: 0;
}
section li:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 10px;
}
@media only screen and (max-width: 768px) {
    section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

#fullpage h1 {
    font-weight: 100;
    padding-bottom: 20px;
}
#fullpage p {
    font-weight: 300;
    padding-bottom: 51px;
    max-width: 570px;
    margin: auto;
}
@media only screen and (max-width: 768px) {
    #fullpage p {
        padding-bottom: 10px;
    }
    #fullpage .img-logo {
        width: 70%;
        height: auto;
    }
}

:focus {
    outline: none !important;
}

#error {
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspect ratio */
    min-width: 100%;
    min-height: 100%;
}
